extends layout

block content
  h1= title
  p Welcome back to #{title} modifed by Sai Prashanth Volete

  - results = [{ drink_type: "Coke", drink_size: "large", drink_cost: 300 },{ drink_type: "Pepsi", drink_size: "med", drink_cost: 150 },{ drink_type: "Fanta", drink_size: "small", cost: 100 }];
  div.container-fluid 
    -
    div.row 
    -
    each item, index in results
        div.col-sm-6
            h2= item.drink
            p= item.drink_size 
            div.row
                each prop, i in Object.keys(item)
                    div(col-sm-2,  onclick=`buy(${index})`)
                        p #{Object.keys(item)[i]}: #{item[prop]}

        
        script.
            function buy (index){
                alert (`You purchased item ${index+1}`)    
            }